h1{font-family:"Georgia" ;font-size: 60px;color:#DFFF00;text-align: center;}
/*body{background: linear-gradient(to top, #6600cc 0%, #cc0066 100%); }*/
img{border: bold;color: #8916ac ;border-style: double;width: 250px;}
body{background-image: url("crown 1.jpg");background-size: contain;}
a{font-size:30px ;font-family:"Georgia" ;color: #bfff00;}