<!doctype>

<html>
<head>
<title>About Us</title>
<link rel="stylesheet" href="{{ url_for('static', filename='about us.css') }}">
</head>
<body>
<h1> Queens Quarters

<div>
            {% include "navbar.html" %}
        </div>

</h1>


<p>Was created in hopes of providing a desiginated place for teens as well as young women
    of urban demograpics '' A Social media community'' where issues of ...Body image, Self esteem and
    Identity can be stregthen, Developed ,Celeberated and Supported..</p>

<img src="{{ url_for('static', filename='p throne2.jpg') }}">

<h2>
<p>Most imperatively...
we implore and welcome mentor/mentee relationships and would delight in 
creating the atmosphere for such interactions to bolossom at queeens quarters.</p>
</h2>

<h3><p> The resource page provides links to other pages and communities you might be interested in. 
         Just click on the resource link on the bar.</p> 

</h3>
</body> 