<!doctype>

<html>
<head>
<title>Queen Quarters</title>
<link rel="stylesheet" href="{{ url_for('static', filename='queens quarters home.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="queens quarters home.css"> -->
</head>
<body>
<h1>Welcom to Queens Quarters</h1>

<div> {% include "navbar.html" %}</div> 

<!-- Add Flask -->

<p>Queens Quarters Is  an app created for young women ages ranging from 12 and up...
    the quiet reflective chambers of are most sensitive and vulnerable places are tucked
    away in the quaters of every queen. this app will provide a community of females
    seeking to Relate, Empower, Inspire and overcome the common obstacles of womenhood..
Self Effecacy,feminism,Self Worth and Selfesteem building are the  </p>


<img src="{{ url_for('static', filename='crown.jpg') }}">


</body>


    