<!doctype>

<html>
<head>
<title>Resources</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resource 1.css') }}">
</head>
<body>
<h1>Re$ource$</h1>
<div>
            {% include "navbar.html" %}
        </div>


<img src="{{url_for('static', filename='crown 1.jpg')}}">
  <br>      
<a href="http://ma.distinguishedyw.org/
">Distingushed Young Women scholarship opportunities</a>
<br>
<a href="https://wfboston.org/
">Women's Foundation of Boston</a>
<br>
<a href="https://www.bigsister.org/
">Big Sister Boston</a>
<br>
<a href="https://swsg.org/locations/boston/
">Strong Women Strong Girls</a>

</body>